body{
    font: 20px, arial, sans-serif ;

}
.navbar {
    background-color: #EDBB99 ;
}

.quem-somos {
    background-color:#85C1E9;
    color: #154360;

}

.margin {
    padding-top: 30px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #AED6F1;
    color: #154360;

}

#servicos {
    background-color:#D6EAF8;
    color: #154360;
}

.bg-footer {
    background-color:#154360;
    color: white;
}